.header {
    background-color: #d32f2f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    margin-right: 15px;
    /* Espacio entre el logo y el texto */
}

.header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header .links-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links-container nav ul li a:hover {
    color: #ffcc00;
}

.cart-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cart-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-count {
    font-size: 14px;
    background-color: #ffffff;
    color: #d32f2f;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}