.header {
    background-color: #ff5733;
    /* Color similar */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}