.home-content {
    text-align: center;
    padding: 20px 20px;
    padding-bottom: 0px;
    background-color: #f8f9fa;
    /* Fondo general */
    min-height: 100vh;
    /* Ocupa toda la pantalla */
}

.home-content h1 {
    background-image: url('../assets/img/backgroundHome.png');
    /* Cambia la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    color: white;
    /* Texto en blanco para contraste */
    padding: 50px 0;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /* Efecto de sombra */
}

.home-content p {
    font-size: 1.2rem;
    color: #555;
}

.btn-primary {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 20px;
}
